@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");

:root {
  /* Primary */
  --soft-red: hsla(7, 99%, 70%, 0.308);
  --yellow: hsla(51, 100%, 49%, 0.308);
  /* graphic design text */
  --dark-desat-cyan: hsl(167, 40%, 24%);
  /* photography text */
  --dark-blue: hsl(198, 62%, 26%);
  /* footer */
  --dark-mod-cyan: hsl(168, 34%, 41%);
  --footer-bg: #90d4c5;

  /* Neutral */
  --very-dark-blue: hsl(212, 27%, 19%);
  --very-dark-grayish: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
  font-family: "Barlow", sans-serif;
  /* font-family: 'Fraunces', serif; */
}

h1,
h2,
h3 {
  font-family: "Fraunces", serif;
  color: var(--very-dark-blue);
}

a {
  cursor: pointer;
}

.main-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 26px 16px;
  background: #3dbeff;
  z-index: 9;
}

#hamburger {
  transition: opacity 100ms linear;
}

.nav-links {
  display: none;
}

.hamburger-active {
  opacity: 60%;
}

.backdrop {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  top: 0;
  left: 0;
}

.modal {
  z-index: 11;
  position: fixed;
  top: 5.5rem;
  left: 50%;
  width: 88%;
  height: 17rem;
  background: white;
  margin-left: -44%; /* Half of its width */
  transition: visibility 200ms linear;
}

.point {
  background: rgba(0, 0, 0, 0.329);
  height: 32px;
  margin-top: -32px;
  background: linear-gradient(
    315deg,
    rgba(255, 255, 255, 1) 7%,
    rgba(2, 0, 36, 0) 7%
  );
}

@media (min-width: 500px) {
  .point {
    background: linear-gradient(
      325deg,
      rgba(255, 255, 255, 1) 7%,
      rgba(2, 0, 36, 0) 7%
    );
  }
}

.modal nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.modal-link {
  text-decoration: none;
  margin: -12px 0 -12px 0;
  color: var(--dark-grayish-blue);
}

.modal-contact-btn {
  text-decoration: none;
  color: var(--very-dark-blue);
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  background: hsl(51, 100%, 49%);
  padding: 16px 26px;
  border-radius: 30px;
  transition: color 100ms linear;
}

.modal-contact-btn:active,
.modal-contact-btn:hover {
  color: white;
}

.hero {
  background: url("./images/mobile/image-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  padding-bottom: 75%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}

.hero h1 {
  font-size: 2.2rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: var(--white);
}

.title-arrow {
  /* position: relative; */
  transform: translateY(140px);
}

@media (max-width: 305px) {
  .hero h1 {
    font-size: 1.5rem;
  }
}
.title-arrow img {
  margin-top: 36px;
}

section {
  text-align: center;
}

.section-info {
  padding: 40px 16px 40px 16px;
  margin-bottom: 20px;
}

.section-info h2 {
  font-weight: 900;
  padding: 16px;
  padding-bottom: 0;
  color: var(--very-dark-blue);
}

.section-info p {
  color: var(--dark-grayish-blue);
  margin: 26px 0;
  line-height: 1.5rem;
}

.learn-more {
  text-decoration: none;
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  font-weight: 800;
  padding: 0 8px;
  padding-bottom: 4px;
  border-radius: 20px;
  color: var(--very-dark-blue);
  /* margin: 10px 0 50px 0; */
}

.bg-yellow {
  background: var(--yellow);
  height: 0.5rem;
  width: 7.8rem;
  margin: auto;
  margin-top: -0.4rem;
  border-radius: 8px;
  transition: background-color 200ms linear;
}

.bg-yellow-active {
  background-color: hsl(51, 100%, 49%);
}

.bg-red {
  background: var(--soft-red);
  height: 0.5rem;
  width: 7.8rem;
  margin: auto;
  margin-top: -0.4rem;
  border-radius: 8px;
  transition: background-color 200ms linear;
}

.bg-red-active {
  background-color: hsl(7, 99%, 70%);
}

.section1 .section-img {
  background: url("images/mobile/image-transform.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 80%;
}

.section2 .section-img {
  background: url("images/mobile/image-stand-out.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 80%;
}

.section3 {
  background: url("images/mobile/image-graphic-design.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  padding-bottom: 15%;
  /* padding-top: 20rem; */
}

.section3 h2,
.section3 p {
  color: var(--dark-desat-cyan);
}

.section4 h2,
.section4 p {
  color: var(--dark-blue);
}

.section4 {
  background: url("images/mobile/image-photography.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  padding-bottom: 15%;
}

.text-on-img-bottom {
  padding: 110% 10px 0 10px;
  font-size: 0.9rem;
}

.text-on-img-bottom h2 {
  font-weight: 900;
  margin-bottom: 24px;
  font-size: 1.6rem;
}
.text-on-img-bottom p {
  line-height: 1.4rem;
}

.testimonial img {
  border-radius: 100%;
  width: 3.5rem;
  margin-top: 3.5rem;
}

.testimonials-header {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 0.9rem;
  font-weight: 900;
  margin-top: 3.5rem;
  color: var(--dark-grayish-blue);
}

.testimonial-paragraph {
  margin: 2rem 0;
  line-height: 1.5;
  padding: 0 16px;
  color: var(--very-dark-grayish);
}

.testimonial-name {
  font-weight: 800;
  font-size: 1rem;
}

.testimonial-position {
  color: var(--dark-grayish-blue);
  font-size: 0.8rem;
  margin-top: 0.5rem;
}
.grid-section {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4rem;
}

.grid-img {
  width: 50%;
}

footer {
  background: var(--footer-bg);
  text-align: center;
  padding: 3.5rem 0rem;
}

footer img {
  height: 1.7rem;
}

footer ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  color: var(--dark-mod-cyan);
  margin-top: 2.3rem;
}

.contact-icons {
  margin-top: 5rem;
}

.contact-icons img {
  height: 50%;
  margin: 0 0.6rem;
}

@media (min-width: 700px) {
  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  .nav-link {
    text-decoration: none;
    margin: 0 12px;
    font-size: 0.8rem;
    color: var(--white);
  }

  .contact-btn {
    color: var(--very-dark-blue);
    text-transform: uppercase;
    font-family: "Fraunces", serif;
    background: var(--white);
    padding: 15px 23px;
    border-radius: 30px;
    font-size: 0.7rem;
    transition: color 200ms linear;
    transition: background 200ms linear;
  }

  .contact-btn:active,
  .contact-btn:hover,
  .contact-btn:focus {
    background-color: rgba(255, 255, 255, 0.288);
    color: white;
  }

  #hamburger {
    display: none;
  }

  .modal {
    display: none;
  }

  .hero {
    background: url(images/desktop/image-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 40%;
    /* padding: 0; */
  }

  .title-arrow {
    transform: translateY(200px);
  }

  .title-arrow h1 {
    font-size: 3.5rem;
  }

  .title-arrow img {
    margin-top: 100px;
  }

  .section1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }

  .section-img {
    width: 50%;
    /* height: auto; */
  }

  .section-info {
    width: 50%;
  }

  .section1 .section-img {
    background: url(images/desktop/image-transform.jpg);
    background-repeat: no-repeat;
    padding: 0;
    background-size: cover;
    padding-bottom: 42%;
  }
}
