@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");

:root {
  /* Primary */
  --soft-red: hsla(7, 99%, 70%, 0.308);
  --yellow: hsla(51, 100%, 49%, 0.308);
  /* graphic design text */
  --dark-desat-cyan: hsl(167, 40%, 24%);
  /* photography text */
  --dark-blue: hsl(198, 62%, 26%);
  /* footer */
  --dark-mod-cyan: hsl(168, 34%, 41%);
  --footer-bg: #90d4c5;

  /* Neutral */
  --very-dark-blue: hsl(212, 27%, 19%);
  --very-dark-grayish: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
  font-family: "Barlow", sans-serif;
  /* font-family: 'Fraunces', serif; */
}

h1,
h2,
h3 {
  font-family: "Fraunces", serif;
  color: var(--very-dark-blue);
}

.main-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  padding-top: 24px;
  background: #3dbeff;
}

.hero {
  background: url("./images/mobile/image-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  padding-bottom: 75%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}

.hero h1 {
  font-size: 2.2rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: var(--white);
}

.title-arrow {
  /* position: relative; */
  transform: translateY(140px);
}

@media (max-width: 305px) {
  .hero h1 {
    font-size: 1.5rem;
  }
}
.title-arrow img {
  margin-top: 36px;
}

section {
  text-align: center;
}

.section-info {
  padding: 40px 16px 40px 16px;
  margin-bottom: 20px;
}

.section-info h2 {
  font-weight: 900;
  padding: 16px;
  padding-bottom: 0;
  color: var(--very-dark-blue);
}

.section-info p {
  color: var(--dark-grayish-blue);
  margin: 26px 0;
  line-height: 1.5rem;
}

.learn-more {
  text-decoration: none;
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  font-weight: 800;
  padding: 0 8px;
  padding-bottom: 4px;
  border-radius: 20px;
  color: var(--very-dark-blue);
  /* margin: 10px 0 50px 0; */
}

.bg-yellow {
  background: var(--yellow);
  height: 0.5rem;
  width: 7.8rem;
  margin: auto;
  margin-top: -0.4rem;
  border-radius: 8px;
  transition: background-color 200ms linear;
}

.bg-yellow-active {
  background-color: hsl(51, 100%, 49%);
}

.bg-red {
  background: var(--soft-red);
  height: 0.5rem;
  width: 7.8rem;
  margin: auto;
  margin-top: -0.4rem;
  border-radius: 8px;
  transition: background-color 200ms linear;
}

.bg-red-active {
  background-color: hsl(7, 99%, 70%);
}

.section1 .section-img {
  background: url("images/mobile/image-transform.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 80%;
}

.section2 .section-img {
  background: url("images/mobile/image-stand-out.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 80%;
}

.section3 {
  background: url("images/mobile/image-graphic-design.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  padding-bottom: 15%;
  /* padding-top: 20rem; */
}

.section3 h2,
.section3 p {
  color: var(--dark-desat-cyan);
}

.section4 h2,
.section4 p {
  color: var(--dark-blue);
}

.section4 {
  background: url("images/mobile/image-photography.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  padding-bottom: 15%;
}

.text-on-img-bottom {
  padding: 110% 10px 0 10px;
  font-size: 0.9rem;
}

.text-on-img-bottom h2 {
  font-weight: 900;
  margin-bottom: 24px;
  font-size: 1.6rem;
}
.text-on-img-bottom p {
  line-height: 1.4rem;
}

.testimonial img {
  border-radius: 100%;
  width: 3.5rem;
  margin-top: 3.5rem;
}

.testimonials-header {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 0.9rem;
  font-weight: 900;
  margin-top: 3.5rem;
  color: var(--dark-grayish-blue);
}

.testimonial-paragraph {
  margin: 2rem 0;
  line-height: 1.5;
  padding: 0 16px;
  color: var(--very-dark-grayish);
}

.testimonial-name {
  font-weight: 800;
  font-size: 1rem;
}

.testimonial-position {
  color: var(--dark-grayish-blue);
  font-size: 0.8rem;
  margin-top: 0.5rem;
}
.grid-section {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4rem;
}

.grid-img {
  width: 50%;
}

footer {
  background: var(--footer-bg);
  text-align: center;
  padding: 3.5rem 0rem;
}

footer img {
  height: 1.7rem;
}

footer ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  color: var(--dark-mod-cyan);
  margin-top: 2.3rem;
}

.contact-icons {
  margin-top: 5rem;
}

.contact-icons img {
  height: 50%;
  margin: 0 0.6rem;
}
